{% extends "base.html" %}

{% block metarobots %}
  <meta name="robots" value="noindex,follow">
{% endblock %}

{% block content %}
  <div>
    <div>
      <h1>Archives for {{ SITENAME }}</h1>

      <ul class="list-unstyled">
        {% for article in dates %}
          <li class="m-b-1">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <ul class="article-tags list-unstyled display-inline-block">
              {% for tag in article.tags %}
                <li class="article-tag">
                  <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                </li>
              {% endfor %}
            </ul><br>
            {{ article.locale_date }}<br>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{# set:filetype=jinja #}
