{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block extra_meta %}

    <meta name="description" content="{{ article.summary|striptags|e }}">

{% if TWITTER_CREATOR %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@{{ TWITTER_CREATOR }}">
    <meta name="twitter:title" content="{{ article.title|e }}">
    <meta name="twitter:description" content="{{ article.summary|striptags|e }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
    {% if article["meta-image-square"] %}
        <meta name="twitter:image" content="{{ SITEURL }}{{ article["meta-image-square"] }}">
    {% endif %}
{% endif %}

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ article.title|e }}">
    <meta property="og:description" content="{{ article.summary|striptags|e }}">
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
    {% if article["meta-image-fb"] %}
        <meta property="og:image" content="{{ SITEURL }}{{ article["meta-image-fb"] }}">
    {% elif article["meta-image-square"] %}
        <meta property="og:image" content="{{ SITEURL }}{{ article["meta-image-square"] }}">
    {% endif %}

{% endblock %}

{% block content %}
<div>
  <article>
    <h1>{{ article.title }}</h1>
    <div class="subheading">by <address class="vcard author">{{ article.author }}</address> in
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>, on {{ article.locale_date }}.
    {% if article.tags %}
      It is tagged
      {% for tag in article.tags -%}
        {% if loop.length and loop.last %} and {% endif %}
        <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
        {%- if loop.length > 2 and not loop.last %}, {% endif %}
        {%- if loop.last %}.{% endif %}
      {%- endfor %}
    {% endif %}
    (<a href="https://git.abackstrom.com/annika/sixohthree.com/commits/branch/master/content/{{ article.content_path }}">history</a>)</div>



    {{ article.content }}
  </article>
</div>
{% endblock %}

{% block scripts_footer %}
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
