<h4><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h4>
<p>{{ article.summary|striptags }}</p>
<ul class="article-tags">
  {% for tag in article.tags %}
    <li class="article-tag">
      <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
