<!doctype html>
<html lang="{{ HTML_LANG }}">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="twitter:dnt" content="on">

    {% block extra_meta %}
    {% endblock %}

    <style type="text/css">
    body { background-color: #fff; font-family: sans-serif; font-size: 1.2em; }
    .footer--icons svg { height: 30px; width: 30px; display: inline-block; }
    </style>

    <link rel="stylesheet" href="{{ SITEURL }}/assets/css/{{ CSS_FILE }}">

    {% block scripts %}
    {% endblock %}

    {% block metarobots %}
      <meta name="robots" value="index,follow">
    {% endblock %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
  </head>

  <body class="{% block body_classes %}{% endblock %}">

    <header role="banner">
      <h1>
        <a href="{{ SITEURL|default("/") }}">sixohthree.com</a>
      </h1>
    </header>

    <div role="main" class="content">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <ul class="footer--links list-unstyled">
        <li>&copy; 2002-2020 <a href="{{ SITEURL }}/about">Annika Backstrom</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4</a></li>
        <li>Powered by <a href="https://blog.getpelican.com/">Pelican</a></li>
        <li>Feeds: <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate">atom</a>, <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" rel="alternate">rss</a></li>
      </ul>
      <ul class="footer--icons p-0 m-0">
        {% for title, url, svg in SOCIAL %}
          <li class="p-0 m-x-1">
            <a href="{{ url }}" title="{{ title }}" rel="me">
              {% set svg_file = 'svg/' + svg %}
              {% include svg_file ignore missing without context %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </footer>

    {% if GOOGLE_ANALYTICS %}
    <script>
      var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS }}'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {% endif %}

    {% if GAUGES_SITEID %}
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '{{ GAUGES_SITEID }}');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    {% endif %}

    {% block scripts_footer %}
    {% endblock %}
  </body>
</html>
