{% extends "base.html" %}

{% block metarobots %}
  <meta name="robots" value="noindex,follow">
{% endblock %}

{% block body_classes %}archive{% endblock %}

{% block content %}

  {% if articles %}

    <h1>All Posts</h1>
    <p>The complete list of posts, in reverse chronological order.</p>
    {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
      <h2>{{ year }}</h2>
      <div class="archive-year">
        {% for month, articles in date_year|groupby('date.month')|sort(reverse=True) %}
          <h3>{{month|num2month}}</h3>
          <ol>
            {% for article in articles %}
              <li>
                {% include 'article_link.inc.html' %}
              </li>
            {% endfor %}
          </ol>
        {% endfor %}
      </div>
    {% endfor %}

  {% endif %}

{% endblock content %}

{# set:filetype=jinja #}
