<div class="metadata">
    {% if page %}
        {% if page.date %}
            This page was created on <time datetime="{{ page.date.isoformat() }}" pubdate>{{ page.locale_date }}</time>.
            {% if page.modified and page.locale_date != page.locale_modified %}
                It was last modified <time datetime="{{ page.modified.isoformat() }}">{{ page.locale_modified }}</time>.
            {% endif %}
            <a href="https://git.abackstrom.com/annika/sixohthree.com/commits/branch/master/content/{{ page.content_path }}">Version history</a>.
        {% endif %}
    {% else %}
        This article was published by <address class="vcard author">{{ article.author }}</address>
        on <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>.
        {% if article.modified and article.locale_date != article.locale_modified %}
            It was last modified <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>.
        {% endif %}

        It is in the <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> category.

        <a href="https://git.abackstrom.com/annika/sixohthree.com/commits/branch/master/content/{{ article.content_path }}">Version history</a>.

        {% if article.tags %}
            <ul class="list-unstyled m-y-1">
                {% for tag in article.tags %}
                    <li class="article-tag">
                        <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</div>
