{% extends "base.html" %}

{% block body_classes %}page{% endblock %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
  <div>
    <div>
    <h1>{{ page.title }}</h1>

    {{ page.content }}

    {% include 'metadata.inc.html' %}
    </div>
  </div>
{% endblock %}
