{% extends "base.html" %}

{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}

{% block metarobots %}
  <meta name="robots" value="noindex,follow">
{% endblock %}

{% block body_classes %}archive{% endblock %}

{% block content %}

<h1>Post tagged &ldquo;{{ tag }}&rdquo;</h1>

<ol>
  {% for article in articles_page.object_list %}
    <li>
      {% include 'article_link.inc.html' %}
    </li>
  {% endfor %}
</ol>

{% endblock %}
