body.archive {
  .article-tags {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-weight: bold;
    border-bottom: none;
  }


  h3 {
    font-weight: bold;
  }

  h4 {
    font-family: $body-font;
    font-size: 100%;
    margin-bottom: 0;
  }

  .archive-year {
    padding-left: 1rem;

    border-left: 2px solid hsl(101.8, 80.8%, 67.3%);

    p {
      margin: 0.5em 0;
    }

    > ol {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        border-left: 2px solid hsl(230.8, 95.2%, 75.7%);
        padding-left: 1rem;
        margin: 0;
      }
    }
  }

  .article-tags {
    font-size: 80%;
    text-transform: lowercase;
  }

  h4 {
    margin-bottom: 0;
  }
}
