.display-inline-block {
  display: inline-block;
}

.metadata {
  font-size: 95%;
  font-style: italic;
  color: $gray-light;

  a {
    color: $gray-light;
    &:hover,
    &:active,
    &:visited {
      color: $gray-light;
    }
  }

  p {
    margin: 0;
  }
}

.article-tag {
  display: inline-block;
  margin-right: 1ex;
}

.right {
  float: right;
}

.left {
  float: left;
}

.inline-media-left {
  @extend .left;
  margin-right: 10px;
}

.inline-media-right {
  @extend .right;
  margin-left: 10px;
}

.update {
  padding: 1ex;
  border: 1px solid hsl(60, 40%, 50%);
  background-color: hsl(65, 90%, 90%);
}

.border {
  border: 1px solid black;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.simple-footnotes {
  border-top: 1px solid #888;
  padding-top: 1em;
}
