.content {
  h1 {
    margin: 0 0 0.7em;

    a {
      color: inherit;
      border-bottom: none;
    }
  }

  h2 {
    border-bottom: 1px solid #bbb;
  }

  p.right {
    margin-left: 1ex;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  article h1 {
    margin-bottom: 0;
  }

  .subheading {
    font-style: italic;
    color: #999;
    margin: 1ex 0;
  }
}
