* {
  @include border-box;

  &:before,
  &:after {
    @include border-box;
  }
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  color: $text-color;

  font: {
    family: $body-font;
    size: $font-size-base;
  }

  overflow-wrap: break-word;
  word-wrap: break-word;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 40px;
  ul,
  ol {
    margin-bottom: 0;
  }
}

blockquote {
  margin-left: 1ex;
  border-left: 3px solid #ccc;
  padding-left: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-family: $heading-font;
  line-height: 125%;
}

h1 {
  font-size: $font-size-base * 2;
}

h2 {
  font-size: $font-size-base * 1.4;
  margin: 1em 0 0.5em;
  font-weight: 500;
}

h3 {
  font-size: $font-size-base * 1.2;
}

p {
  margin: 0.8em 0 0.5em;

  &:first-child {
    margin-top: 0;
  }
}

a {
  color: $link-color;

  &:hover,
  &:active {
    color: $link-color-alt;
  }
}

code {
  background-color: $well-bg;
  font: {
    family: $code-font;
    style: normal;
  }
}

pre {
  font: {
    family: $code-font;
    style: normal;
  }

  background: none repeat scroll 0 0 $well-bg;
  letter-spacing: 0.015em;
  line-height: 130%;
  padding: 0.7em;
  white-space: pre;
  word-wrap: break-word;
  overflow-y: scroll;
  width: auto;

  @include border-radius(2px);
}

time,
address {
  display: inline;
}

ins {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #888;
  padding: 1px 5px;
}

th {
  background-color: #444;
  color: #eee;
}

tbody tr {
  background-color: #e8e8e8;
}

tbody tr:nth-child(odd) {
  background-color: #fcfcfc;
}

hr {
  margin: 40px 5% 60px 5%;
  color: #d6d6d6;
  box-shadow: 0.1em 0.1em 0.1em #EFEFEF;
  @include border-radius(5px);
}

