footer {
  display: flex;
  flex-direction: column;

  border-top: 1px dotted #D6D6D6;

  margin-top: 3rem;
  padding: 1rem 0;

  font-size: 0.8em;

  @include media(">tablet") {
    flex-direction: row;
  }

  > ul {
    flex: 1;
  }
}


.footer--icons {
  @include media(">tablet") {
    text-align: right;
  }

  svg {
    height: 30px;
    width: 30px;
    display: inline-block;
  }

  li {
    display: inline-block;
    list-style-type: none;
    flex: 0 0 auto;
  }
}
