header {
  h1 {
    font-size: 36px;
    font-weight: bold;

    @include media(">tablet") {
      font-size: 48px;
    }

    a {
      text-decoration: none;
    }
  }

  nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline;
      text-transform: lowercase;
    }
  }
}
