body.index {
  .content {
    h2 {
      display: inline;
      border: none;
      text-transform: lowercase;

      &:after {
        content: ":";
      }
    }
  }

  nav.pages {
    display: inline;
    clear: right;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;

      li {
        margin: 0;
        padding: 0;
        display: inline;
      }
    }
  }
}
