.clear {
  content: ".";
  display: block;
  margin: 0px;
  height: 0px;
  clear: both;
  line-height: 0px;
}

.center {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
