$white: #ffffff;
$text-color: #4d4d4c;
$well-bg: #f0f0f0;
$body-width-max: 800px;
$body-width-narrow: 650px;
$gray-light: hsl(0, 0%, 47%);
$light-border: hsl(0, 0%, 70%);
$yellow: #f2e947;
$green: #40c517;

$link-color: hsl(205, 75%, 52%);
$link-color-alt: $text-color;

$body-font: sans-serif;
$heading-font: sans-serif;
$code-font: "Ubuntu Mono", Monaco, monospace;
$font-size-base: 1.2em;

/* Libraries */
@import "include-media";
@import "mixins";
@import "normalize";
@import "pygment";
@import "responsive-embed";
@import "spacers";
@import "util";

/* Base styles */
@import "layout";      // page structure (grid)
@import "elements";    // default element styles (p, code)
@import "components";  // reusable components (.list-unstyled)

/* Sections */
@import "header";
@import "archive";
@import "home";
@import "content";
@import "footer";

body {
  background-color: $white;
}

/* Article */

article.summary {
  margin-bottom: 40px;
  clear: both;
  > div {
    margin-left: 28%;
  }
}

article.summary .metadata {
  width: 23%;
  float: left;
  margin: 0 1% 2% 0;
}

.figure {
  text-align: center;
}

.figure > img {
  border: 1px solid #ddd;
  padding: 4px;
}

figure {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding: 4px;
  margin: 10px;

  float: right;

  > img {
    margin: 0;
    padding: 0;
    border: 0 none;
  }
}

figcaption {
  margin-bottom: 0;
}

/* Listings */

ol.archive {
  li {
    margin: 8px 0;

    time,
    .tags {
      line-height: 140%;
      font-size: 0.8em;
      margin: 0;
    }
  }
}

.pagination {
  width: 100px;
  margin: 1em auto;
}

.recent-posts {
  list-style: none;

  h3 {
    margin-bottom: 0;
  }

  li {
    p {
      margin: 0;
      font-size: 90%;
      color: #444;
    }
  }
}

// vim:ts=2 sw=2 et:
